/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/dyuthi/dyuthi.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(255, 255, 255);

$mainColor: rgb(0, 44, 70);
$headingColor: rgb(0, 44, 70);
$shadow: rgb(41, 27, 0);

$mainFontSize: 42px;
$mainFont: 'Dyuthi', Helvetica, sans-serif;
$headingFont: 'Dyuthi', Helvetica, sans-serif;
$headingTextShadow: 2px 2px 2px $shadow;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 200;
$linkColor: #012f70;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
